<a href="https://colab.research.google.com/github/raghavujjwal/Kaggle_Projects/blob/main/Strawberry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: SOME KAGGLE DATA SOURCES ARE PRIVATE
# RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES.
import kagglehub
kagglehub.login()

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

regression_dataset_path = kagglehub.competition_download('regression-dataset')

print('Data source import complete.')

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns

In [ ]:
test = pd.read_csv('/kaggle/input/regression-dataset/test.csv')
train = pd.read_csv('/kaggle/input/regression-dataset/train.csv')
train.head(5)

,id,Row#,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0,728.0,25.0,0.50,0.38,0.50,0.63,86.0,52.0,71.9,62.0,30.0,50.8,1.0,0.10,0.551234,0.471665,37.214021,6520.89760
1,1,657.0,25.0,0.50,0.38,0.38,0.63,69.7,42.1,58.2,50.2,24.3,41.2,16.0,0.26,0.411591,0.398256,31.875182,4218.32799
2,2,441.0,12.5,0.25,0.38,0.50,0.75,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.574708,0.480106,39.230391,7284.81478
3,3,547.0,25.0,0.50,0.25,0.50,0.75,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.512308,0.453131,36.362300,6491.22353
4,4,692.0,25.0,0.50,0.38,0.38,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.464369,0.433408,35.118076,6190.66597

In [ ]:
train.shape

(15000, 13)

In [ ]:
train.info

<bound method DataFrame.info of           id   Row#  clonesize  honeybee  bumbles  andrena  osmia  \
0          0  728.0       25.0      0.50     0.38     0.50   0.63
1          1  657.0       25.0      0.50     0.38     0.38   0.63
2          2  441.0       12.5      0.25     0.38     0.50   0.75
3          3  547.0       25.0      0.50     0.25     0.50   0.75
4          4  692.0       25.0      0.50     0.38     0.38   0.63
...      ...    ...        ...       ...      ...      ...    ...
14995  14995  511.0       25.0      0.50     0.25     0.50   0.75
14996  14996  662.0       25.0      0.50     0.25     0.38   0.50
14997  14997    3.0       37.5      0.75     0.25     0.25   0.25
14998  14998  238.0       12.5      0.25     0.25     0.50   0.50
14999  14999  704.0       25.0      0.50     0.25     0.50   0.50

       AverageOfUpperTRange  AverageOfLowerTRange  AverageRainingDays  \
0                      71.9                  50.8                0.10
1                      58.2                  41.2                0.26
2                      64.7                  45.8                0.39
3                      64.7                  45.8                0.26
4                      71.9                  50.8                0.39
...                     ...                   ...                 ...
14995                  64.7                  45.8                0.10
14996                  71.9                  50.8                0.39
14997                  79.0                  55.9                0.56
14998                  58.2                  41.2                0.26
14999                  58.2                  41.2                0.10

       fruitset      seeds       yield
0      0.551234  37.214021  6520.89760
1      0.411591  31.875182  4218.32799
2      0.574708  39.230391  7284.81478
3      0.512308  36.362300  6491.22353
4      0.464369  35.118076  6190.66597
...         ...        ...         ...
14995  0.566319  40.037644  6979.32479
14996  0.340063  28.417931  3436.49354
14997  0.383787  29.467434  3828.16556
14998  0.511413  36.249695  6735.24371
14999  0.506346  36.976361  6306.55062

[15000 rows x 13 columns]>

In [ ]:
train.nunique()

id                      15000
Row#                      775
clonesize                   5
honeybee                    7
bumbles                     8
andrena                    13
osmia                      13
AverageOfUpperTRange        5
AverageOfLowerTRange        9
AverageRainingDays          8
fruitset                 1112
seeds                    1209
yield                     777
dtype: int64

In [ ]:
train.isnull().sum().sort_values(ascending=False)

id                      0
MaxOfLowerTRange        0
seeds                   0
fruitmass               0
fruitset                0
AverageRainingDays      0
RainingDays             0
AverageOfLowerTRange    0
MinOfLowerTRange        0
AverageOfUpperTRange    0
Row#                    0
MinOfUpperTRange        0
MaxOfUpperTRange        0
osmia                   0
andrena                 0
bumbles                 0
honeybee                0
clonesize               0
yield                   0
dtype: int64

In [ ]:
print(train.columns)

Index(['id', 'Row#', 'clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MinOfUpperTRange', 'AverageOfUpperTRange', 'MaxOfLowerTRange',
       'MinOfLowerTRange', 'AverageOfLowerTRange', 'RainingDays',
       'AverageRainingDays', 'fruitset', 'fruitmass', 'seeds', 'yield'],
      dtype='object')

In [ ]:
train = pd.read_csv('/kaggle/input/regression-dataset/train.csv')

In [ ]:
train.drop('MaxOfUpperTRange', inplace=True, axis=1, errors='ignore')
train.drop('MinOfUpperTRange', inplace=True, axis=1, errors='ignore')
train.drop('MaxOfLowerTRange', inplace=True, axis=1, errors='ignore')
train.drop('MinOfLowerTRange', inplace=True, axis=1, errors='ignore')
train.drop('RainingDays', inplace=True, axis=1, errors='ignore')
train.drop('fruitmass', inplace=True, axis=1, errors='ignore')
train.head(5)

,id,Row#,clonesize,honeybee,bumbles,andrena,osmia,AverageOfUpperTRange,AverageOfLowerTRange,AverageRainingDays,fruitset,seeds,yield
0,0,728.0,25.0,0.50,0.38,0.50,0.63,71.9,50.8,0.10,0.551234,37.214021,6520.89760
1,1,657.0,25.0,0.50,0.38,0.38,0.63,58.2,41.2,0.26,0.411591,31.875182,4218.32799
2,2,441.0,12.5,0.25,0.38,0.50,0.75,64.7,45.8,0.39,0.574708,39.230391,7284.81478
3,3,547.0,25.0,0.50,0.25,0.50,0.75,64.7,45.8,0.26,0.512308,36.362300,6491.22353
4,4,692.0,25.0,0.50,0.38,0.38,0.63,71.9,50.8,0.39,0.464369,35.118076,6190.66597